.section-sponsors {
  padding: $spacing-3xl 0 $spacing-xl 0;
  margin-bottom: 8rem;
  // background-color: rgb(0, 92, 61);
  &__heading {
    font-size: $default-font-size;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 700;
    text-align: center;
    margin-bottom: $spacing-4xl;
    color: $color-secondary-dark;
  }
  &__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-4xl;
    @include respond(tab-land) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    & img {
      // height: 3.2rem;
      max-width: 20rem;
      filter: brightness(0);
      opacity: 50%;
      @include respond(tab-port) {
        max-width: 30rem;
      }
    }
  }
}
