.cta {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-500,
    $color-primary-400
  );
  overflow: hidden;
  max-width: 106rem;
  margin: auto;
  @include respond(tab-port) {
    grid-template-columns: 2fr 1fr;
  }
  @include respond(tab-land) {
    grid-template-columns: 3fr 2fr;
  }

  .cta-text-box {
    padding: $spacing-xl;
    color: $color-neutral-700;
    @include respond(tab-port) {
      padding: $spacing-3xl $spacing-4xl $spacing-4xl $spacing-4xl;
    }
  }

  &__heading {
    color: inherit;
    margin-bottom: $spacing-xl;
  }

  &__text {
    font-size: $default-font-size;
    line-height: 1.8;
    margin-bottom: $spacing-3xl;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  &__img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-500, 0.35),
        rgba($color-primary-400, 0.35)
      ),
      url("../../img/optimized/hero.avif");
    background-size: cover;
    background-position: center;
    height: 32rem;
    grid-row: 1;
    @include respond(tab-port) {
      height: unset;
      grid-row: unset;
    }
  }

  &__form {
    display: grid;
    // grid-template-columns: 1fr;

    column-gap: $spacing-xl;
    row-gap: $spacing-l;

    & label {
      display: block;
      font-size: $default-font-size;
      font-weight: 400;
      margin-bottom: 1.2rem;
    }

    & input,
    & select {
      width: 100%;
      padding: 1.2rem;
      font-size: $default-font-size;
      font-family: inherit;
      color: inherit;
      border: none;
      background-color: $color-neutral-300;
      border-radius: $spacing-s / 2;
      box-shadow: 0 1px 2px rgba($color-black, 0.1);
    }

    & input::placeholder {
      color: $color-neutral-500;
    }
    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }

    & *:focus {
      outline: none;
      box-shadow: 0 0 0 0.8rem rgba($color-secondary-400, 0.5);
    }
  }
}
