.nav {
  color: $color-primary;
  display: flex;

  justify-content: space-between;
  align-items: center;
  min-height: 8rem;
  margin-right: 2rem;
  margin-left: 2rem;
  @include respond(tab-port) {
    padding-right: 0;
  }
  &__list {
    display: none;
    list-style: none;
    align-items: center;
    gap: $spacing-3xl;
    padding: $spacing-l;

    @include respond(tab-port) {
      display: flex;
    }
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: $color-neutral-300;
    font-weight: 400;
    font-size: $default-font-size;
    transition: color 0.2s;

    &:visited,
    &:link {
      color: $color-white;
    }
    &:hover,
    &:active {
      color: $color-secondary-500;
    }

    &.-cta {
      padding: $spacing-s $spacing-m;
      border-radius: $spacing-s;
      color: $color-neutral-700;
      background-color: $color-secondary-400;
      font-weight: $font-weight-bold;
      font-size: $default-font-size;

      &:link,
      &:visited {
        border-radius: $spacing-s;
      }
      &:hover,
      &:active {
        background-color: $color-secondary-500;
      }
    }
  }
}
