.speaker {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: $spacing-m;
  overflow: hidden;
  transition: all 0.4s;
  width: 100%;
  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 $spacing-xl $spacing-4xl rgba(0, 0, 0, 0.06);
  }
  // &__description {
  // }
  &__content {
    padding: $spacing-m $spacing-xl $spacing-xl $spacing-xl;
  }
  &__tags {
    margin-bottom: $spacing-m;
    display: flex;
    gap: $spacing-s;
  }
  &__tag {
    display: inline-block;
    padding: $spacing-s / 2 $spacing-s;
    font-size: 1.2rem; //tylko tu jest ten size
    text-transform: uppercase;
    color: $color-grey-dark-3;
    border-radius: $spacing-4xl;
    font-weight: 700;
  }
  & .-coaching {
    background-color: $color-tertiary-dark;
    color: $color-white;
  }
  & .-socialmedia {
    background-color: $color-primary-light;
  }

  &__title {
    font-size: $font-size-l;
    color: $color-grey-dark-3;
    font-weight: 700;
    margin-bottom: $spacing-m;
  }
  &__attributes {
    display: flex;
    flex-direction: column;
    gap: $spacing-l;
  }
  &__attribute {
    font-size: $default-font-size;
    display: flex;
    align-items: center;
    gap: $spacing-m;
  }

  &__img {
    width: 100%;
    object-fit: contain;
    height: 30rem;
    object-fit: cover;
    object-position: 50% 0;

    @include respond(tab-port) {
      height: 40rem;
      object-fit: cover;
      object-position: 50% 0;
    }
  }
}
